.Navigate{
    background-color: antiquewhite;
    text-align: center;
    display: grid;
    font-family: myFirstFont ;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto 200px;
    justify-content:space-evenly;
    gap: 100px;
}
.whome{
    font-family: mySecondFont;
    font-size: 80px;
    background-color: azure;
}
.mypro{
    border-color: black;
    border: 10pt;
    border-radius: 1%;
    width: auto;
    height: auto;
    background-color: darkgray;
}
.Navigate > p{
    border-color: black;
    border: 10pt;
    border-radius: 10%;
    width: 300px;
    height: 100px;
    background-color: rgb(112, 191, 228);
}
@font-face {
    font-family: myFirstFont;
    src: url(font.ttf);
  }
  @font-face {
    font-family: mySecondFont;
    src: url(laisen.ttf);
  }
#motto{
    font-family: mySecondFont;
    font-size: 60px;
}
#title{
    font-family: myFirstFont ;
    font-size: 100px;
}
a:link{
    font-size: 40px;
    color: brown;
    text-decoration: none;
}
a:hover{
    color: blueviolet;
    font-size: 50px;
    text-decoration: solid;
    font: bold;
}
.mypic:hover{
    filter: opacity(60%);
    
}
.mypic{
    border-radius: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
b{
    font-size: 25px;
}